.dashboard {
    color: $text_primary_color;

    .choose__date {
        label {
            font-size: 0.8rem;
        }

        input {
            font-size: 0.6rem;
        }
        .outer__label {
            font-size: 0.7rem;
            white-space: nowrap;
        }
    }
}
