@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "nprogress/nprogress.css";

@import "./methods.scss";
@import "./veriables.scss";

// components
@import "../components/style.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: $theme_dark_color;
}
* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  position: relative;
}

.button {
  background-color: gray;
  overflow: hidden;
  width: 100%;

  .button__loader {
    width: 100% !important;
  }

  button {
    margin: 0;
    position: relative;
    width: inherit;
    border: none;
    outline: none;
    padding: 5px;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    background: inherit;

    &:disabled {
      opacity: 0.8;
    }
  }
}

.page_title {
  margin: 1rem 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize;

  position: relative;
  width: fit-content;
  z-index: 1;

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 70%;
    width: 0%;
    height: 10px;
    background: $component_color1;
    animation: borderAnimation 0.8s ease-in forwards;
  }
}

#nprogress .bar {
  background: $component_color3_green !important;
  height: 5px;
}
#nprogress .peg {
  box-shadow: 0 0 10px rgba($component_color3_green, 1);
}

.app_toast {
  max-width: $max-width;
  background-color: white;
  position: fixed;
  top: -100%;
  width: calc(100% - 1rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: all 1s cubic-bezier(0.99, 0, 0.79, 1);

  &.show {
    top: 10px;
    opacity: 1;
  }

  .toast__box {
    position: relative;
    @include flexBox(flex-start, center);
    min-height: 3rem;

    &.toast__box {
    }

    .toast__icon {
      min-width: 25px;
      height: 25px;
      background-color: $component_color3_green;
      color: white;
      border-radius: 50%;
      margin-right: 10px;
      @include flexBox(center, center);

      &.warning {
        background-color: $warning;
      }

      &.error {
        background-color: $red;
      }

      &.info {
        background-color: $info;
      }

      &.success {
        background-color: $component_color3_green;
      }
    }

    .toast__message {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
    }
  }
}

.MuiDialogContent-root {
  div {
    &[style*="position"] {
      color: transparent !important;
    }
  }
}

.profile {
  position: absolute;
}

@keyframes borderAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .page_title {
    font-size: 2.5rem;
  }
}
