$theme_dark_color: #191a23;

// component colors
$component_color1: #9e74f0;
$component_color2_blue: #2e71fc;
$component_color2_red: #c57ffd;
$component_color3_green: #92c680;
$mui_error: #f44336;

$red: #ed9e8b;

// text
$text_secondary_color: #494a53;
$text_primary_color: #ffffff;

// veriables
$max-width: 768px;
$padding_bottom: 6rem;
